# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test

# Output of the `go build` and `go run` commands
*.out

# Dependency directories (if using vendoring)
vendor/

# Go Modules
go.sum

# IDE/editor-specific files
.idea/
*.iml
.vscode/
*.swp

# Logs and debugging
*.log

# Coverage files
*.cover
*.cov

# Temporary files
*.tmp
*.temp
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Ignore GitHub-related files and directories
.github/
application-staging.yml
application-production.yml
